/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Outfit',sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 0px;
    width: 280px;
    height: 425px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
}



/* image needs work */
.container .qr-img, img {
    max-width: 94%;
    border-radius: 10px;
    margin: 8px;
}

p.heading {
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    /* top | left and right | bottom */
    padding: 1em 2em 0.5em;
}

p.main-text {
    font-family: 'Outfit', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
     /* top | right | bottom | left */
    padding: 1em 2em 0 2em;
}

/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
    /* top | right | bottom | left */
    margin: 3em 1em 0 2em; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

